/* css variables used */

:root {
	--lightGrayBackgroundColor: #414a4c;
	--grayNavBackgroundColor: #2c3539;
	--whiteColor: white;
	--btnBorderColor: #dcd7c9;
	--jetBlackColor: #343434;
	--grayColor: #878787;
	--sectionHeaderColor: lightblue;
}

/* body elements and common element styling */

body {
	background-color: var(--lightGrayBackgroundColor);
	color: var(--whiteColor);
	font-family: Tahoma, Verdana, sans-serif;
}

button {
	background-color: var(--jetBlackColor);
	border: 1px var(--btnBorderColor) solid;
	color: var(--whiteColor);
	padding: 1rem 2.5rem;
	font-size: 18px;
	margin: 4px 2px;
}

button:hover {
	background-color: var(--grayNavBackgroundColor);
}

/* styling for my name under about me section */

.font-cursive {
	font-family: cursive;
	font-size: 2.5rem;
}

h1,
h2 {
	color: var(--sectionHeaderColor);
	font-size: 4.5rem;
}

img {
	border: 3px var(--grayColor) solid;
	border-radius: 60px;
}

.social-nav li {
	list-style-type: none;
}

.fa {
	color: var(--whiteColor);
}

.fa:hover {
	color: var(--grayColor);
}

.page-content {
	margin-left: 265px;
}

/* page section header margins */

.header-margin {
	margin-top: 7.5rem;
}

/* project list styling on home page and projects page */

.project-list ul {
	border-top: 0.25rem var(--sectionHeaderColor) solid;
	border-left: 0.25rem var(--sectionHeaderColor) solid;
	width: 15%;
	border-radius: 4px;
}

.projects-list li {
	list-style-type: circle;
	padding-bottom: 0.75rem;
}

.projects-list a {
	color: var(--whiteColor);
	border-bottom: 3px var(--grayColor) solid;
}

.projects-list a:hover {
	font-size: 1.1rem;
}

/* home and contact page contact form styling */

form input,
textarea {
	margin-left: 1rem;
}

form {
	padding: 0.5rem;
}

form input {
	padding: 0.5rem;
}

/* navbar styling */

.side-bar-nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 225px;
	border-right: 3px var(--whiteColor) solid;
	background-color: var(--grayNavBackgroundColor);
}

nav li {
	list-style-type: none;
	border-top: 1px var(--grayColor) solid;
	border-bottom: 1px var(--grayColor) solid;
	width: 9.5rem;
}

.nav-top-div {
	width: 12.5rem;
}

nav a {
	color: var(--whiteColor);
}

nav a:hover {
	color: var(--whiteColor);
	padding-left: 2rem;
}

nav {
	padding: 1rem 2rem;
}

.sidebar-footer-text {
	font-size: 0.75rem;
}

/* about paragraph text affecting home page and about page */

.about-text {
	width: 50%;
}

/* global site media query */

@media (max-width: 767px) {
	/* body, misc elements and common classes responsive styling */

	body {
		padding: 1.5rem 1.5rem;
	}

	h1,
	h2 {
		font-size: 2rem;
	}

	.page-content {
		margin-left: 1rem;
	}

	.header-margin {
		margin-top: 3.5rem;
	}

	/* START ALL RESPONSIVE NAVBAR STYLING */
	/* responsive nav bar styling */

	.side-bar-nav {
		width: 100vw;
		border: none;
		background-color: var(--grayNavBackgroundColor);
		visibility: hidden;
	}

	/* responsive hamburger menu styling */

	.hamburger {
		position: absolute;
		top: 0;
		right: 0;
		margin: 1rem;
		width: 2rem;
		height: 2rem;
		background: transparent;
		border: none;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 0;
		z-index: 3;
	}

	/* responsive hamburger menu span styling */

	.hamburger span {
		width: 2rem;
		height: 0.25rem;
		background-color: #333;
		border-radius: 10px;
		transition: all 0.3s ease-in-out;
		position: relative;
		transform-origin: 1px;
	}

	/* navbar menu styling */

	.navbar-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 0;
	}

	.navbar-list li {
		margin-bottom: 1rem;
	}

	/* Open menu styling */
	.side-bar-nav.open {
		background-color: var(--grayNavBackgroundColor);
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		visibility: visible;
		z-index: 2;
	}

	/* footer navbar text styling */

	.sidebar-footer-text {
		margin-top: auto;
		margin-bottom: 1rem;
	}
	/* END ALL RESPONSIVE NAVBAR STYLING */

	/* about page responsive styling */

	/* increasing width for home and about page paragraph tags responsive styling */

	.about-text {
		width: 95%;
	}

	/* home page and project list page responsive styling */

	.project-list ul {
		width: 75%;
	}

	/* responsive styling for creating padding on contact form */

	.contact-form {
		padding-top: 1rem;
	}
}
