/* css variables used */

:root {
	--lightGrayBackgroundColor: #414a4c;
	--grayNavBackgroundColor: #2c3539;
	--whiteColor: white;
	--btnBorderColor: #dcd7c9;
	--jetBlackColor: #343434;
	--grayColor: #878787;
	--sectionHeaderColor: lightblue;
}

/* body elements and common element styling */

body {
	background-color: var(--lightGrayBackgroundColor);
	color: var(--whiteColor);
	font-family: Tahoma, Verdana, sans-serif;
}

button {
	background-color: var(--jetBlackColor);
	border: 1px var(--btnBorderColor) solid;
	color: var(--whiteColor);
	padding: 1rem 2.5rem;
	font-size: 18px;
	margin: 4px 2px;
}

button:hover {
	background-color: var(--grayNavBackgroundColor);
}

/* styling for my name under about me section */

.font-cursive {
	font-family: cursive;
	font-size: 2.5rem;
}

h1,
h2 {
	color: var(--sectionHeaderColor);
	font-size: 4.5rem;
}

img {
	border: 3px var(--grayColor) solid;
	border-radius: 60px;
}

.social-nav li {
	list-style-type: none;
}

.fa {
	color: var(--whiteColor);
}

.fa:hover {
	color: var(--grayColor);
}

.page-content {
	margin-left: 265px;
}

/* page section header margins */

.header-margin {
	margin-top: 7.5rem;
}

/* project list styling on home page and projects page */

.project-list ul {
	border-top: 0.25rem var(--sectionHeaderColor) solid;
	border-left: 0.25rem var(--sectionHeaderColor) solid;
	width: 15%;
	border-radius: 4px;
}

.projects-list li {
	list-style-type: circle;
	padding-bottom: 0.75rem;
}

.projects-list a {
	color: var(--whiteColor);
	border-bottom: 3px var(--grayColor) solid;
}

.projects-list a:hover {
	font-size: 1.1rem;
}

/* home and contact page contact form styling */

form input,
textarea {
	margin-left: 1rem;
}

form {
	padding: 0.5rem;
}

form input {
	padding: 0.5rem;
}

/* navbar styling */

.side-bar-nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 225px;
	border-right: 3px var(--whiteColor) solid;
	background-color: var(--grayNavBackgroundColor);
}

nav li {
	list-style-type: none;
	border-top: 1px var(--grayColor) solid;
	border-bottom: 1px var(--grayColor) solid;
	width: 9.5rem;
}

.nav-top-div {
	width: 12.5rem;
}

nav a {
	color: var(--whiteColor);
}

nav a:hover {
	color: var(--whiteColor);
	padding-left: 2rem;
}

nav {
	padding: 1rem 2rem;
}

.sidebar-footer-text {
	font-size: 0.75rem;
}

/* home page styling */

/* skill list styling home page */

.split-list-home {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0;
}

.split-list-home li {
	break-inside: avoid;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	margin-bottom: 10px;
	list-style-type: circle;
}

/* about section css */

.myProgress {
	background-color: var(--grayColor);
}

.progress-bar {
	height: 10px;
}

/* about skills section grid styling */

.all-skills {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 3rem;
}

/* projects page styling */

.project-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	margin: 20px;
}

.project {
	background-color: black;
	padding: 20px;
	border-radius: 30px;
}

.project p {
	font-size: 16px;
	line-height: 1.5;
}

.project a {
	display: block;
	background-color: var(--jetBlackColor);
	padding: 5px;
	border-radius: 10px;
	margin-top: 10px;
}

.project a:hover {
	background-color: #444;
}
